h1 {font-family: Agency FB;
font-size: 40px;}
h2 {font-family: Copperplate Gothic Bold;    
	font-size: 25px;}
h3 {font-family: STHupo;
font-size: 20px;}
p {font-family: Bookman Old StyleBookman Old Style}